# Core LangChain packages
langchain
langchain-community
langchain-google-genai
langgraph
langchain-pinecone
langchain-tavily
langchain-huggingface 
sentence-transformers

# Document loaders
pymupdf
python-docx
unstructured[docx]
pydantic
pydantic[email]

# Database
langgraph-checkpoint-postgres
sqlalchemy
psycopg[binary,pool]
#alembic

#Authentication
PyJWT

# Utility packages
python-dotenv
loguru

# Apis
fastapi
uvicorn
websockets
