# Core LangChain packages
langchain
langchain-community
#langchain-google-genai
langchain-pinecone
langchain-huggingface 
sentence-transformers

# Document loaders
pymupdf
python-docx
unstructured[docx,pptx]
pydantic

# Utility packages
numpy
python-dotenv